<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
    <p style="text-align: center">
        Hello, Welcome To Our Social Network
    </p>

    <div style="text-align: center">
        <div th:text="'username: ' + ${user.userName}"></div>
        <div th:text="'first name: ' + ${user.firstName}"></div>
        <div th:text="'last name: ' + ${user.lastName}"></div>
        <div th:text="'age: ' + ${user.age}"></div>
        <div th:text="'gender: ' + ${gender}"></div>
        <a href="/logout">logout</a>
        <a href="/editProfile.html">edit profile</a>
    </div>

    <table align="center" style="padding-top: 2%">
        <tr>
            <th>Friends</th>
            <th style="padding-left: 20%">Friend Suggestions</th>
            <th style="padding-left: 40%">Movies</th>
            <th style="padding-left: 60%">Movie Suggestions</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li th:each="friend : ${friends}">
                        <a th:href="|/user/${friend.userName}|" th:text="|${friend.firstName + ' ' + friend.lastName}"></a>
                    </li>
                </ul>
            </td>
            <td style="padding-left: 20%">
                <ul>
                    <li th:each="user : ${users}">
                        <a th:href="|/user/${user.userName}|" th:text="|${user.firstName + ' ' + user.lastName}"></a>
                    </li>
                </ul>
            </td>
            <td style="padding-left: 40%">
                <ul>
                    <li th:each="seenItem : ${seenItems}">
                        <a th:href="|/movie/${seenItem.title}|" th:text="${seenItem.title}"></a>
                    </li>
                </ul>
            </td>
            <td style="padding-left: 60%">
                <ul>
                    <li th:each="item : ${items}">
                        <a th:href="|/movie/${item.title}|" th:text="${item.title}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <a href="/movie/list">movies</a><br/>
    <a href="/user/list">people</a><br/>
    <a href="/addMovie.html">add movie +</a><br/>
</body>
</html>